In [1]:
import geocoder
import pandas as pd

In [2]:
keys = 'XAOoYswg87hHtrUL1JOq~iC_jT9iuSGb6pvBm-Xq76g~AifObMKF8shOCFYk33SvWKVznrEUPI925Sfco-cNrWXRjIBpcDfnLHSoB3yL6K_e'

In [3]:
# function for converting addresses to zipcodes
def zipcode(i):
    g = geocoder.bing(i, key= keys)
    h = geocoder.bing([g.lat,g.lng], method ='reverse',key=keys)
    return h.postal

In [4]:
df = pd.read_excel('addresses.xlsx')

In [5]:
df.head()

                                             address  zipcode
0  559 Ng Duy Trinh P. Binh Trung Dong, Tp. Thu D...      NaN
1  Lý Tự Trọng, Bến Nghé, Quận 1, Thành phố Hồ Ch...      NaN
2  30-36 Đ. Phan Bội Châu, Phường Bến Thành, Quận...      NaN

In [6]:
# populating zipcodes
l=0
for a,z in zip(df.address,df.zipcode):
    df.iloc[l,1]=zipcode(a)
    l+=1

In [7]:
df

                                             address zipcode
0  559 Ng Duy Trinh P. Binh Trung Dong, Tp. Thu D...   71006
1  Lý Tự Trọng, Bến Nghé, Quận 1, Thành phố Hồ Ch...   71009
2  30-36 Đ. Phan Bội Châu, Phường Bến Thành, Quận...   71009